#container
{
    width: 80%;
    display: block;
    bottom: 10rem;
}

#container div
{
    display: inline-block;
    margin: auto;
}

#left
{
    width: 30em;
    padding: 1%;
    margin: 1% auto 1% 5em;
}

#left img
{
    margin: 0 auto;
    margin: 1%;
    padding: 1%;
}


#right
{
    width: 30em;
    margin: 1%;
    padding: 1%;

}

#right p
{
    text-align: justify;
}