#container
{
    width: 80%;
    margin: auto;

    display: block;
    bottom: 10rem;
}

#container div
{
    display: inline-block;
    margin: auto;
}

#left
{
    width: 36;
    padding: 1%;
    margin: 1%;
}

#right
{
    float: right;
    width: 55%;
    margin: 1%;
    padding: 1%;
    clear: left;
}