form
{
    display: block;
    width: 80%;
    margin: 0 auto;
}

label,
input
{
    display: block;
    width: 100px;


}


label
{
    float: left;
}

input
{
    margin: 0.5em 0;
}

input:last-child
{
    margin: 0 0 0 100px;

}

input[name=subject]
{
    width: 23.5em;

}

textarea
{
    resize: none;
}