#contentSplit
{
    display: inline-block;
    position: relative;
    clear: both;
    width: 100%;
    margin: 10px;
    padding: 5px;
    /* box-sizing: content-box; */
}

#left,
#right
{
    width: 46%;
    margin: 0.5%;
    padding: 0.5%;
}

#leftSide
{
    box-sizing: content-box;
    float: left;
    left: 0px;
}

#rightSide
{
    clear: right;
}