#btnImg
{
    margin: 0 auto;
    font-size: xx-large;
}

#btnImg > li
{
    position: relative;
    display: inline-block;
    width: 100px;
    /* margin: 0 auto;
    top: -130px;
    height: 100px; */
    background-color: white;
}

#btnImg img
{
    width: max-content;
    height: auto;
}

#btnImg button
{
    display: block;
    margin: 0.1%;
    width: fit-content;
    height: auto;
}

#banner
{
    width: 90%;
    position: relative;
    height: 100%;
    margin: 0 5%;

}